/* .form-center form {
    position: absolute;
    top: 42%;
    left: 68%;
    transform: translate(-50%,-50%);
    margin: 0%;
  }



.text-field label {
    margin-bottom: 10px;
    display:block;  
    padding-left: 25px;

  }
.red-heading {
    color: red;
    width: 50%;
  }

.alert
{
    color:"red";
}


.input-lg {
    font-size: 16px;
    height: 48px;
    padding: 10px 16px;
  }
  

.logo
{
    height:600px;
    width:600px;
    padding-left: 20px;
}

.forgotpassword {
  
    color:black;
    padding-left: 0px;
}

a:hover {

    color:black;
}

.text-field input {
  width: 283px;
  padding: 10px 0px;
 
  margin:0 18.50px 0 18.50px;
  padding-left: 15px;
}

   */
/* Home.css */

.custom-body-class{
  overflow: auto;
}
