.form-inmiddle form {
    position: absolute;
    top: 42%;
    left: 68%;
    transform: translate(-50%,-50%);
    margin: 0%;
    padding-left: 10px;
  }

  .imglogo
{
    height:600px;
    width:600px;
    padding-left: 20px;
}

.otpbutton {
    background-color: black;
    color: white ;
    height:40px;
    width:250px;
   
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.heading{
    padding-left: 10px;
}

