# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/codes/backend/node_modules
/codes/frontend/node_modules
/codes/backend/.*
/codes/backend/package-lock.json
/codes/frontend/package-lock.json
/codes/backend/.env
/.pnp
.pnp.js

# testing
/coverage

# production
/codes/frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
