.form-center form {
    position: absolute;
    top: 42%;
    left: 68%;
    transform: translate(-50%,-50%);
    margin: 0%;
    padding-left: 10px;
  }

.blackbutton {
    background-color: black;
    color: white ;
    height:40px;
    width:250px;
}

.label {
    margin-bottom: 10px;
    display:block;
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.alert
{
    color:"red";
}

.welcome {
    padding-right: 10px;
}

.input-lg {
    font-size: 16px;
    height: 48px;
    padding: 10px 16px;
  }
  

.logo
{
    height:600px;
    width:600px;
    padding-left: 20px;
}

.forgotpassword {
  
    color:black;
    padding-left: 65px;
}

a:hover {

    color:black;
}
  