.form-inmiddle{
    margin: 0%;
    display: flex;
    flex-direction: row;
    text-align: center;
    /* overflow: hidden; */
    justify-content: center; 
    align-items: center; /* Center vertically */
    /* height: 100vh; Full viewport height */
  }


.logoDiv{
    margin-bottom:90px;
    flex:50%;

}

body{
    overflow: hidden;
}

.otpbutton {
    background-color: black;
    color: white ;
    height:40px;
    width:250px;
   
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.heading{
    padding-left: 10px;
}
.formDiv input{
    width: 280px;
}

@media only screen and (max-width:900px) {
 
    .form-inmiddle{
            display: flex;
            flex-direction: column;
        }
    
        .logoDiv{
            transform: translate(0px, -100px);
            margin-left: 25%;
            margin-right: 25%;
            margin-bottom: 0px;
        }
        
        .logo{
         padding: 0;
        }
        .formDiv{
            transform: translate(0px, -100px);
            margin-top: 40px;
            margin-left: 25%;
            margin-right: 25%;
            margin-bottom: 5px;
            /* height: 133px;
            width: 496px; */
        }
        .rightFormContainerR{
            margin: 0;
           
    
        }
        .formInsiderightFormContainerR{
            height: 452.63px;
            width:432px;
            padding: 16px;
            border-top: 0.667px;
        }
    
    
    
      } 
