.card-rectangular-mydonations {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    width: 100%; /* Set all cards to have 100% width */
    max-width: 350px; /* Set a maximum width for each card */
    height: auto; /* Let the height adjust to content */
    padding: 16px; /* Add padding inside each card */
    box-sizing: border-box; /* Include padding and border in width calculation */
    display: flex;
    align-items: center; /* Vertically center card contents */
  }
  
  .card-image-mydonations {
    width: 200px; /* Set the width for all images */
    height: 200px; /* Set the height for all images */
    object-fit: cover;
    border-radius: 4px;
    flex: 1; /* Allow the image to grow and shrink as needed */
    margin-right: 16px; /* Add spacing between image and details */
  }
  
  .card-image-mydonations img {
    max-width: 150px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .card-details-mydonations {
    flex: 2; /* Allow details to grow and take more space */
    display: flex;
    flex-direction: column;
  }
  
  .card-name-mydonations {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .card-condition-mydonations{
    margin: 4px 0; /* Add spacing between details */
  }
  .card-status-mydonations {
    margin: 4px 0; /* Add spacing between details */
    color: green;
  }
  