.form-middle form {
    position: absolute;
    top: 42%;
    left: 68%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    padding-left: 10px;
    padding-top: 60px;


  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  

.black {
    background-color: black;
    color: white ;
    height:40px;
    width:250px;
}

.heading{
    padding-left: 0px;
    padding-bottom: 0px;
}

.imglogo
{
    height:555px;
    width:600px;
    padding-left: 20px;
}


a:hover {

    color:black;
}

.mb-3{
    height: 60px;
}
.label{
height:18px;
padding-bottom: 0px;
}

.form-control{
padding-bottom: 5px;
}