.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: none;
    background-color: #1877f2;
    color: white;
    margin: auto;
    width: 300px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;

  }
  
  .primary {
    background-color:#006A4E;
    color: white;
  }

  .danger {
    background-color: red;
    color: white;
  }

  