.form-center  {
    /* position: absolute;
    top: 42%;
    left: 68%; */
    /* transform: translate(-50%, -50%); */
    margin: 0%;
    display: flex;
    flex-direction: row;
    text-align: center;
    /* overflow: hidden; */
    justify-content: center; 
    align-items: center; /* Center vertically */
    /* height: 100vh; Full viewport height */
}


.blackbutton {
    background-color: black;
    color: white;
    height: 40px;
    width: 250px;
}

.label {
    margin-bottom: 10px;
    /* display: block; */
    padding-left: 33px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 41.50px;
}

.alert {
    color: "red";
}



.input-lg {
    font-size: 16px;
    height: 48px;
    padding: 10px 16px;
}



.forgotpassword {

    color: black;
    /* padding: 0px; */
    height:18px;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 0px;
    text-align:center ;
}

a:hover {

    color: black;
}

.text-field input {
    width: 283px;
    padding: 10px 5px 10px 15px;
    margin:0 41.50px 0 41.50px;
    border-radius: 6px;
}

.mb-3{
    height: 30px;
}



.forgotpassword{
    margin-left: 48px;
    margin-bottom: 5px;
}

input[type='email']{

    padding: 10px 10px;
    margin-top: 15px;
}

input[type='password']{
margin-top: -5px;
margin: -5px 15px 0px 15px;
}

.logo {
    height: 133px;
    width: 496px;
    padding-left: 20px;
    margin-top: 150px;
}


.logoDiv{
    margin-bottom:90px;
    flex:50%;
}
.formDiv{
    margin-top: 70px;
    flex:50%;

}

.rightFormContainer {

    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    width: 396px;
    height: 348px;
    margin-left: 90px;
    
}


@media only screen and (max-width:900px) {
 
.form-center{
        display: flex;
        flex-direction: column;
    }

    .logoDiv{
        transform: translate(0px, -100px);
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 0px;
    }
    .logo{
     padding: 0;
     margin-top:100px
    }
    .formDiv{
        transform: translate(0px, -100px);
        margin-top: 0px;
        margin-left: 25%;
        margin-right: 25%;
        /* height: 133px;
        width: 496px; */
    }
    .rightFormContainer{
        margin: 0;
       

    }



  }

